@font-face {
    font-family: roboto-variable;
    src: url(../fonts/Roboto-Medium.ttf);
}

.card-container {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center; /* Markiert: Horizontale Zentrierung */
    align-items: center;
    height: 60vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 52px;
    padding-left: 21%;
}

@media (max-width: 768px) {
    .card-container {
      grid-template-columns: 1fr;
      margin:auto;
      padding-right: 50px;
    }
  }

.gruss{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 15vh;
    font-size: 28px;
    font-family: roboto-variable;
    
}
@media (max-width: 768px) {
    .gruss {
      margin-left: 5%;
      margin-bottom: 5px;
    }
  }

.over-card-container{
  height: 100vh;
  margin: 0;
  padding: 0;
  
}