@font-face {
    font-family: roboto-variable;
    src: url(../fonts/Roboto-Medium.ttf);
}

.card-container {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center; /* Markiert: Horizontale Zentrierung */
    align-items: center;
    height: 60vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 25%;
}

@media (max-width: 768px) {
    .card-container {
      grid-template-columns: 1fr;
    }
  }

.gruss{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 10vh;
    font-size: 28px;
    font-family: roboto-variable;
    
}