.language-element {
   display: flex;
   width: 80px; /* Feste Breite für Konsistenz */
   height: 30px; /* Etwas größere Höhe für bessere Skalierung */
   border-radius: 5px; /* Border-Radius bleibt */
   border: 1px solid #222;
   background-color: #222;
   cursor: pointer;
   overflow: hidden;
}

.language-element span {
   flex: 1; /* Gleichmäßige Aufteilung */
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 14px;
   font-weight: bold;
}

.language-element-de {
   border-top-left-radius: 5px; 
   border-bottom-left-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}



#de-links{
   background-color: #F3B47C;
   color: #333;
}
#de-rechts{
   background-color: #333;
   color:#F3B47C;
}
   
#en-links{
   background-color: #333;
   color:#F3B47C;
}
#en-rechts{
   background-color: #F3B47C;
}

   @media screen and (max-width: 1024px) {
      .language-element {
            width: 90px; /* Kleinere Anpassungen für iPads */
            height: 50px;
            align-items: center;
      }
      #de-links{
         color:#333 ;
      }
      .language-element span {
            font-size: 15px;
      }
      }
