
        .box {
            margin-left: 10%;
            margin-top: 1%;
            width: 80%;
            background: #222;
            border: 1px solid #222;
            border-radius: 13px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            transition: max-height 1s ease-out;
            max-height: 80px;
        }
        .box-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            font-size: 22px;
            font-weight: bold;
        }
        .arrow {
            transition: transform 0.3s ease-out;
            cursor: pointer;
            user-select: none;
        }
        .content {
            padding: 15px;
            display: none;
            font-size: 18px;
        }
        .expanded {
            max-height: 1000000px;
        }
        .rotated {
            transform: rotate(180deg);
        }
        @media (max-width: 768px){
            .box{margin-left: 5%; width: 90%;}
        }