body{
    background-color: #181818;
    color: #F3B47C;
    font-family: "roboto-variable";
    margin: 0;
}
@font-face {
    font-family: roboto-variable;
    src: url(../fonts/Roboto-Medium.ttf);
}
.contentOnTextpage{
    margin-left: 10vw;
    margin-top: 15vh;
    margin-right: 10vw;
}
#langeslorem{
    line-height: 1.5;
}