body{
    background-color: #181818;
    color: #78A660;
    font-family: "roboto-variable";
    margin: 0;
}
@font-face {
    font-family: roboto-variable;
    src: url(fonts/Roboto-Medium.ttf);
}
main{
    margin-top: 100px;
}
