body{
    background-color: #181818;
    color: #F3B47C;
    font-family: "roboto-variable";
    margin: 0;
}
@font-face {
    font-family: roboto-variable;
    src: url(../fonts/Roboto-Medium.ttf);
}
.contentOnTextpage{
    margin-left: 10vw;
    margin-top: 15vh;
    margin-right: 10vw;
    line-height: 1.4;
}
main{
    margin-top: 11vh;
}
#langeslorem{
    line-height: 1.5;
}


.Überschrift{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.Anfangstext{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    font-size: 22px;
    font-family: roboto-variable;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.4;
}
.beschreibungstext{
    line-height: 1.7;
    padding-top: 20px;
    font-family: roboto-variable;
}
.datenZuGeschaeften{
    font-size: large;
}